openapi: 3.2.0
info:
  title: OpenAPI definition Gateway Swagger Controller API
  version: v0
servers:
- url: https://services.amobee.com
  description: Generated server url
tags:
- name: gateway-swagger-controller
paths:
  /swagger-resources:
    get:
      tags:
      - gateway-swagger-controller
      operationId: swaggerResources
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerResource'
      summary: Swagger resources
      x-summary-source: derived
    put:
      tags:
      - gateway-swagger-controller
      operationId: swaggerResources_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerResource'
      summary: Swagger resources 2
      x-summary-source: derived
    post:
      tags:
      - gateway-swagger-controller
      operationId: swaggerResources_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerResource'
      summary: Swagger resources 1
      x-summary-source: derived
    delete:
      tags:
      - gateway-swagger-controller
      operationId: swaggerResources_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerResource'
      summary: Swagger resources 3
      x-summary-source: derived
    options:
      tags:
      - gateway-swagger-controller
      operationId: swaggerResources_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerResource'
      summary: Swagger resources 6
      x-summary-source: derived
    head:
      tags:
      - gateway-swagger-controller
      operationId: swaggerResources_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerResource'
      summary: Swagger resources 5
      x-summary-source: derived
    patch:
      tags:
      - gateway-swagger-controller
      operationId: swaggerResources_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwaggerResource'
      summary: Swagger resources 4
      x-summary-source: derived
  /swagger-config:
    get:
      tags:
      - gateway-swagger-controller
      operationId: swaggerConfig
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
      summary: Swagger config
      x-summary-source: derived
    put:
      tags:
      - gateway-swagger-controller
      operationId: swaggerConfig_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
      summary: Swagger config 2
      x-summary-source: derived
    post:
      tags:
      - gateway-swagger-controller
      operationId: swaggerConfig_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
      summary: Swagger config 1
      x-summary-source: derived
    delete:
      tags:
      - gateway-swagger-controller
      operationId: swaggerConfig_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
      summary: Swagger config 3
      x-summary-source: derived
    options:
      tags:
      - gateway-swagger-controller
      operationId: swaggerConfig_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
      summary: Swagger config 6
      x-summary-source: derived
    head:
      tags:
      - gateway-swagger-controller
      operationId: swaggerConfig_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
      summary: Swagger config 5
      x-summary-source: derived
    patch:
      tags:
      - gateway-swagger-controller
      operationId: swaggerConfig_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties: {}
      summary: Swagger config 4
      x-summary-source: derived
components:
  schemas:
    SwaggerResource:
      type: object
      properties:
        name:
          type: string
        location:
          type: string
        swaggerVersion:
          type: string
