{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://services.amobee.com","description":"Generated server url"}],"paths":{"/files/TCFDisclosure.json":{"get":{"tags":["tcf-disclosure-controller"],"operationId":"getTCFDisclosure","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/files/TCFDisclosure":{"get":{"tags":["tcf-disclosure-controller"],"operationId":"getTCFDisclosure_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/ip":{"get":{"tags":["ip-controller"],"operationId":"get","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IpResponse"}}}}}}},"/healthcheck/status":{"get":{"tags":["health-check"],"operationId":"getAppname","parameters":[{"name":"headers","in":"header","required":true,"schema":{"$ref":"#/components/schemas/HttpHeaders"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/env-vars-test":{"get":{"tags":["env-vars-test-controller"],"operationId":"getVars","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/swagger-resources":{"get":{"tags":["gateway-swagger-controller"],"operationId":"swaggerResources","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"put":{"tags":["gateway-swagger-controller"],"operationId":"swaggerResources_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"post":{"tags":["gateway-swagger-controller"],"operationId":"swaggerResources_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"delete":{"tags":["gateway-swagger-controller"],"operationId":"swaggerResources_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"options":{"tags":["gateway-swagger-controller"],"operationId":"swaggerResources_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"head":{"tags":["gateway-swagger-controller"],"operationId":"swaggerResources_5","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"patch":{"tags":["gateway-swagger-controller"],"operationId":"swaggerResources_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}}},"/swagger-config":{"get":{"tags":["gateway-swagger-controller"],"operationId":"swaggerConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}},"put":{"tags":["gateway-swagger-controller"],"operationId":"swaggerConfig_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}},"post":{"tags":["gateway-swagger-controller"],"operationId":"swaggerConfig_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}},"delete":{"tags":["gateway-swagger-controller"],"operationId":"swaggerConfig_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}},"options":{"tags":["gateway-swagger-controller"],"operationId":"swaggerConfig_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}},"head":{"tags":["gateway-swagger-controller"],"operationId":"swaggerConfig_5","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}},"patch":{"tags":["gateway-swagger-controller"],"operationId":"swaggerConfig_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}}}},"components":{"schemas":{"IpResponse":{"type":"object","properties":{"resolutionType":{"type":"string"},"realRemoteAddress":{"type":"string"},"xForwardedFor":{"type":"string"},"headers":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"ContentDisposition":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"filename":{"type":"string"},"charset":{"type":"string"},"attachment":{"type":"boolean"},"formData":{"type":"boolean"},"inline":{"type":"boolean"}}},"HttpHeaders":{"type":"object","properties":{"contentLength":{"type":"integer","format":"int64"},"connection":{"type":"array","items":{"type":"string"}},"ifModifiedSince":{"type":"integer","format":"int64"},"contentType":{"$ref":"#/components/schemas/MediaType"},"date":{"type":"integer","format":"int64"},"lastModified":{"type":"integer","format":"int64"},"all":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true},"range":{"type":"array","items":{"$ref":"#/components/schemas/HttpRange"}},"origin":{"type":"string"},"location":{"type":"string","format":"uri"},"host":{"type":"object","properties":{"hostName":{"type":"string"},"hostString":{"type":"string"},"unresolved":{"type":"boolean"},"address":{"type":"object","properties":{"hostName":{"type":"string"},"anyLocalAddress":{"type":"boolean"},"multicastAddress":{"type":"boolean"},"loopbackAddress":{"type":"boolean"},"siteLocalAddress":{"type":"boolean"},"mcglobal":{"type":"boolean"},"mcnodeLocal":{"type":"boolean"},"mclinkLocal":{"type":"boolean"},"mcsiteLocal":{"type":"boolean"},"mcorgLocal":{"type":"boolean"},"canonicalHostName":{"type":"string"},"linkLocalAddress":{"type":"boolean"},"address":{"type":"string","format":"byte"},"hostAddress":{"type":"string"}}},"port":{"type":"integer","format":"int32"}}},"allow":{"type":"array","items":{"$ref":"#/components/schemas/HttpMethod"},"uniqueItems":true},"accept":{"type":"array","items":{"$ref":"#/components/schemas/MediaType"}},"acceptLanguageAsLocales":{"type":"array","items":{"type":"string"}},"acceptPatch":{"type":"array","items":{"$ref":"#/components/schemas/MediaType"}},"accessControlAllowCredentials":{"type":"boolean"},"accessControlAllowHeaders":{"type":"array","items":{"type":"string"}},"accessControlAllowMethods":{"type":"array","items":{"$ref":"#/components/schemas/HttpMethod"}},"accessControlAllowOrigin":{"type":"string"},"accessControlExposeHeaders":{"type":"array","items":{"type":"string"}},"accessControlMaxAge":{"type":"integer","format":"int64"},"accessControlRequestHeaders":{"type":"array","items":{"type":"string"}},"accessControlRequestMethod":{"$ref":"#/components/schemas/HttpMethod"},"acceptCharset":{"type":"array","items":{"type":"string"}},"bearerAuth":{"type":"string","writeOnly":true},"cacheControl":{"type":"string"},"contentDisposition":{"$ref":"#/components/schemas/ContentDisposition"},"contentLanguage":{"type":"string"},"etag":{"type":"string"},"expires":{"type":"integer","format":"int64"},"ifMatch":{"type":"array","items":{"type":"string"}},"ifNoneMatch":{"type":"array","items":{"type":"string"}},"ifUnmodifiedSince":{"type":"integer","format":"int64"},"pragma":{"type":"string"},"upgrade":{"type":"string"},"vary":{"type":"array","items":{"type":"string"}},"acceptLanguage":{"type":"array","items":{"type":"object","properties":{"range":{"type":"string"},"weight":{"type":"number","format":"double"}}}},"basicAuth":{"type":"string","writeOnly":true},"empty":{"type":"boolean"}}},"HttpMethod":{},"HttpRange":{},"MediaType":{"type":"object","properties":{"type":{"type":"string"},"subtype":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"string"}},"qualityValue":{"type":"number","format":"double"},"concrete":{"type":"boolean"},"charset":{"type":"string"},"wildcardType":{"type":"boolean"},"wildcardSubtype":{"type":"boolean"},"subtypeSuffix":{"type":"string"}}},"SwaggerResource":{"type":"object","properties":{"name":{"type":"string"},"location":{"type":"string"},"swaggerVersion":{"type":"string"}}}}}}